.container:after{
  clear: both;
  display: table;
  content: "";
}

nav{height: 100px;}

a, a:hover{
  text-decoration: none;
}
.white{background-color: white;}

.white .row .col-md-8 img {
  height: 100px;
}
.col-md-8 ul, .col-md-8 ul li{
  display:inline-block;
}
.but-cont{
  position: relative;
  height: 100px;
}
.button1{
  position: absolute;
  right:5%;
  top: 50%;
  transform:translate(-5%, -50%);
  margin: 0;
  color: #0248ff;
  border-color: #0248ff;
  padding: 5px 10px;
  border-radius: 5px;
}
.butto1:hover{color: white;
background-color: #0248ff;
}
.input-group{width: 300px;
height: 100%;}

.box-input{
  padding: 40px;
  border-radius: 5px;
}
.mar-t-20{
  margin-top: 20px;
}
.btn{
  width: 100%;
}
.input-group .green-but{background-color: #00c600;
color: white;
}
.list-nav ul li{
  padding: 0 10px;
}
/* sezione blue sotto navbar */

.blue{
  background-color: #0248ff;
}
.pad-100-40{
  padding:100px 40px;
}
.blue-row{
  position: relative;
}
.box-welcome{
  position: absolute;
  left: 0;
  top: 50%;
  transform:translate(-0%, -50%);
}
.white-box{float: right;}

/* sezione grigia con icone */

.grey{
  background-color: #edf3fc;
}
.grey .container .row .col-md-2 img{
  width: 80%;
  height: 75px;
}
.pad-20-0{
  padding: 20px 0;
}
.text-big{
  text-transform: uppercase;
}
/* parte bianca con tre testi a colonna */
.pad-b-40{
  padding-bottom: 40px;
}
/* parte grigia con immagine grande software */

.screen{
  width:100%;
}

/* parte blue scuro con lista città */

.dark-blue{
  background-color:#03317a;
}
hr{
  margin: 0 0 10px 0;
}
.text-white{
  color: white;
}
.text-grey{
  color: #8e9196;
}
/* parte blue sopra footer */
.pad-40-0{
  padding: 40px 0;
}
.footer-buttom{
  width: 15%;
  height: 50px;
  color: #0248ff;
}
 /* footer */

 .black{
   background-color: black;
 }
 .small-logo{
   width: 50px;
 }
.list-loghi, .list-footer{
padding: 0;
list-style-type: none;
}
.list-loghi li{
  display: inline-block;
  padding: 20px 5px;
}
.list-loghi li a i,
.list-footer li a {
  color: #8e9196;
}
.list-footer li{
  color: #8e9196;
}
