.container:after{
  clear: both;
  display: table;
  content: "";
}

nav{height: 100px;}

a, a:hover{
  text-decoration: none;
}
.white{background-color: white;}

.white .row .col-md-8 img {
  height: 100px;
}
.col-md-8 ul, .col-md-8 ul li{
  display:inline-block;
}
.but-cont{
  position: relative;
  height: 100px;
}
.button1{
  position: absolute;
  right:5%;
  top: 50%;
  transform:translate(-5%, -50%);
  margin: 0;
}

/* sezione blue sotto navbar */

.blue{
  background-color: #0248ff;
}
.pad-60-40{
  padding:60px 40px;
}

/* sezione grigia con icone */

.grey{
  background-color: #edf3fc;
}
.grey .container .row .col-md-2 img{
  width: 80%;
}

/* parte grigia con immagine grande software */

.screen{
  width:100%;
}

/* parte blue scuro con lista città */

.dark-blue{
  background-color:#03317a;
}
hr{
  margin: 0 0 10px 0;
}
.text-white{
  color: white;
}
.text-grey{
  color: #8e9196;
}

 /* footer */

 .black{
   background-color: black;
 }
 .small-logo{
   width: 50px;
 }
.list-loghi, .list-footer{
padding: 0;
list-style-type: none;
}
.list-loghi li{
  display: inline-block;
  padding: 20px 5px;
}
.list-loghi li a i,
.list-footer li a {
  color: #8e9196;
}
.list-footer li{
  color: #8e9196;
}
